@{
    ViewData["Title"] = "Entrevistas";
    Layout = "_LayoutSGPI";
}
<div class="container">
    <br>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
        <b>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/BuscarCoordinador">BUSCAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/ProgramarAsignacion">PROGRAMAR ASIGNACION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/Homologacion">HOMOLOGACION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/Entrevistas">ENTREVISTAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinador/CooReportes">REPORTES</a>
                </li>
            </ul>
        </b>
    </nav>
    <br>
    <div style="text-align:right">
        <a href="/Administrador/Login" id="regresar">Cerrar sesion</a>
    </div>
    <center>
        <b><label for="buscarusuarioCtxt">Buscar Usuario</label></b>
        <br>
        <input type="number" placeholder="1.136.345.345" style="width : 150px; heigth : 5px" id="Coobuscarusertxt" required />
        <br><br>
        <input type="button" class="btn btn-outline-primary" value="BUSCAR">

    </center>
    <br>
    <br>
    <br>
    <div class="container-fluid cew-9">
        <div class="row">
            <div class="col">
                <b><label for="nombretxt">Nombre</label></b>
                <div class="form-group">
                    <input type="text" placeholder="David" style="width : 130px; heigth : 5px" id="nombretxt" required />
                </div>
                <br>
                <b><label for="coodocumentotxt">Documento</label></b>
                <div class="form-group">
                    <input type="number" placeholder="1.136.345.345" style="width : 150px; heigth : 5px" id="coodocumentotxt" required />
                </div>
                <br>
                <br>
            </div>
            <div class="col">
                <b><label for="apellidotxt">Primer Apellido</label></b>
                <div class="form-group">
                    <input type="text" placeholder="Agudelo" style="width : 150px; heigth : 5px" id="apellidotxt" required />
                </div>
                <br>
                <br>
                <input type="button" class="btn btn-outline-primary" value="INGRESAR">&nbsp;&nbsp;
                <input type="button" class="btn btn-outline-primary" value="VOLVER">
            </div>
            <div class="col">
                <b><label for="segundoapellidotxt">Segundo Apellido</label></b>
                <div class="form-group">
                    <input type="text" placeholder="Ardila" style="width : 150px; heigth : 5px" id="segundoapellidotxt" required />
                </div>
            </div>
            <div class="col">
                <b><label for="programatxt">Programa</label></b>
                <div class="form-group">
                    <input type="text" placeholder="Ingenieria de Software" style="width : 220px; heigth : 5px" id="programatxt" required />
                </div>
            </div>
            <center>
            </center>

        </div>
    </div>
</div>