@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "BuscarUsuario";
    Layout = "_LayoutSGPI";
}
<div class="container">
        <br>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
        <b>
        <ul class="navbar-nav navbar-center">
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/CrearUsuario">CREAR USUARIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/BuscarUsuario">BUSCAR USUARIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/EliminarUsuario">ELIMINAR USUARIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/ModificarUsuario">MODIFICAR USUARIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/Reportes">REPORTES</a>
            </li>
        </ul>
        </b>
    </nav>
    <br>
    <div style="text-align:right">
        <a href="/Administrador/Login" id="regresar">Cerrar sesion</a>
    </div>
    <div class="tab-content">
        <form method="post">
            <br>
            <b><label for="busquedatxt">Buscar usuario: </label></b>
                <div class="input-group">
                <input asp-for="NumeroDocumento" type="text" placeholder="Busqueda" class="form-control col-sm-1" style="width : 5px; heigth : 5px" id="busquedatxt" required />
                <button class="btn btn-outline-primary" id="buscarusuariobtn" type="submit" value="Ingresar">BUSCAR USUARIO</button>
                </div>
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Primer Apellido</th>
                            <th scope="col">Segundo Apellido</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Programa</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <th scope="row">1</th>
                            <td>David</td>
                            <td>Agudelo</td>
                            <td>Ardila</td>
                            <td>Masculino</td>
                            <td>1.365.345.345</td>
                            <td>Ingenieria de Software</td>
                            <td>Estudiante</td>
                            <td>david.agudelo@correo.tdea.edu.co</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
        </form>
    </div>
</div>