@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutSGPI";
}
@if (ViewBag.mensaje != null)
{
    <center><h1>@ViewBag.mensaje</h1></center>
    <br>
}
<center>
    <br>
    <h1>SISTEMA DE GESTIÓN DE POSGRADOS</h1>
    <br>
    <br>
    <form method="post">
        <div class="form-group">
            <b><label for="usuariotxt">Usuario</label></b>
            <br>
            <input asp-for="NumeroDocumento" type="text" class ="form-control col-sm-2" id="usuariotxt" required />
            <br>
            <br>
        </div>
        <div class="form-group">
            <b><label for="passwordtxt">Contraseña</label></b>
            <br>
            <input asp-for="VcPassword" type="password" class ="form-control col-sm-2" id="passwordtxt" required />
            <br>
            <br>
        </div>
        <a href="/Administrador/OlvidarContrasena" id="recuperarPass">Olvide la contraseña</a>
            <br>
            <br>
            <button class="btn btn-outline-primary" id="ingresarbtn" type="submit" value="Ingresar">INICIAR SESION</button>
    </form>
</center>