@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "Reportes";
    Layout = "_LayoutSGPI";
}
<form method="post">
    <div class="container">
        <br>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
            <b>
                <ul class="navbar-nav navbar-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/CrearUsuario">CREAR USUARIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/BuscarUsuario">BUSCAR USUARIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/EliminarUsuario">ELIMINAR USUARIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/ModificarUsuario">MODIFICAR USUARIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/Reportes">REPORTES</a>
                    </li>
                </ul>
            </b>
        </nav>
        <br>
        <div style="text-align:right">
            <a href="/Administrador/Login" id="regresar">Cerrar sesion</a>
        </div>
        <br>
        <br>
        <b><label for="reportartxt">Numero de Documento</label></b>
        <div class="form-group">
            <input asp-for="NumeroDocumento" type="number" placeholder="#" style="width : 300px; heigth : 5px" id="reportartxt" required />
        </div>
        <br>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Primer Apellido</th>
                    <th scope="col">Segundo Apellido</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Programa</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>David</td>
                    <td>Agudelo</td>
                    <td>Ardila</td>
                    <td>Masculino</td>
                    <td>1.365.345.345</td>
                    <td>Ingenieria de Software</td>
                    <td>Estudiante</td>
                    <td>david.agudelo@correo.tdea.edu.co</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>